<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions typically required for Firebase Auth, Firestore, etc. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashBook"
        tools:targetApi="34">

        <!-- Launcher / entry point -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.CashBook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Other app screens -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".BalanceActivity"
            android:exported="false" />

        <activity
            android:name=".BuyingLimitActivity"
            android:exported="false" />

        <activity
            android:name=".CashFlowActivity"
            android:exported="false" />

        <activity
            android:name=".CashFlowChartActivity"
            android:exported="false" />

    </application>

</manifest>